<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SteamGame.api.mapper.OwnedGameMapper">

    <resultMap id="OwnedGameMap" type="com.SteamGame.api.domain.OwnedGame">
        <id column="id" property="id"/>
        <result column="appid" property="appid"/>
        <result column="name" property="name"/>
        <result column="playtime_forever" property="playtimeForever"/>
    </resultMap>

    <insert id="insert" parameterType="com.SteamGame.api.domain.OwnedGame">
        INSERT INTO owned_game (appid, name, playtime_forever)
        VALUES (#{appid}, #{name}, #{playtimeForever})
    </insert>

    <select id="countTable" resultType="int">
        SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'OWNED_GAME'
    </select>

    <select id="listAll" resultMap="OwnedGameMap">
        SELECT id, appid, name, playtime_forever FROM owned_game
    </select>

    <insert id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS owned_game( id BIGINT AUTO_INCREMENT PRIMARY KEY, appid BIGINT, name VARCHAR(512), playtime_forever INT )
    </insert>

    <select id="findByAppid" resultMap="OwnedGameMap" parameterType="long">
        SELECT id, appid, name, playtime_forever FROM owned_game WHERE appid = #{appid}
    </select>

    <update id="updateByAppid" parameterType="com.SteamGame.api.domain.OwnedGame">
        UPDATE owned_game SET name = #{name}, playtime_forever = #{playtimeForever} WHERE appid = #{appid}
    </update>

</mapper>
